<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label> ID </label>
        <input type="text" placeholder=""/>
        <label> Name </label>
        <input type="text" placeholder=""/>
        <label> Date </label>
        <input type="date" placeholder=""/>
        <label> Capacity </label>
        <input type="number" placeholder=""/>
        <label> Booked Seats </label>
        <input type="number" placeholder=""/>
        </form>
        <button type="submit"> Save </button>
</body>
</html>